.body {
  display: flex;
  flex-wrap: wrap;
}

.body-left-div {
  width: 70%;
}

.body-left-div table {
  border-collapse: collapse;
  width: 100%;
  padding-left: 2px;
}

.body-left-div table td {
  padding: 0 5px 10px;
}
.body-left-div table tr td:first-child {
  width: 34%;
}

.pass-data li {
  line-height: 1.2;
  font-size: 12px;
}

.payment-wrap-div {
  width: 30%;
  padding: 10px;
  border-left: 1px solid rgb(212, 212, 212);
}

.payment-body-div {
  display: flex;
  justify-content: center;
}
.balance-div{
  margin-top: 20%;
  text-align: center;
}
.balance-div button{
  width: 200px;
}

.payment-body-div table{
  margin-top: 10%;
}
.payment-body-div input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  background-color: #f1f1f1;
}

.payment-body-div input:focus {
  background-color: #ddd;
  outline: none;
}

.pay-btns-td {
  text-align: right;
}
.pay-checkbox-td input{
  width: 20px;
}

.history-wrap-div{
  height: 100%;
}

.history-top-div{
  overflow-y:scroll;
  max-height: 270px;
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);

}

.right-align{
  text-align: right;
}

.history-bottom-div{
  padding-top: 5px;
}

.hist-td-sm{
  width: 60px;
}

.table{
  padding-right: 8px
}

.month h5, .month p{
  margin: 0;
  padding: 0;
}

.transaction{
  margin-bottom: 20px;
}

.transaction-top h6, .transaction-bottom p{
  margin: -8px;
}

.transaction-bottom{
  display: flex;
}

.transaction-bottom div:last-child{
  margin-left: 40px;
}