
.bold-font{
  font-weight: bold;
  color: rgb(68, 68, 68);

}

/* Progress bars */
.column-div{
  min-width: 10%;
  padding: 4px 0 4px 0;

}
.name-div{
  min-width: 21%;
  padding: 4px 0 4px 0;
}

.proress-bar-wrap-div{
  background-color: rgb(231, 231, 231);
  width: 80%;
  height: 2px;
}
.progress-bar-div{
  background-color: #00c77b;
  height: 2px;
}


